$primary: #1db954;
$secondary: #fff;
$font-family: Helvetica, Arial, sans-serif;

body {
    background: #242020;
    font-family: $font-family;
    font-size: 16px;
}
h1 {
    color: $primary;
    text-transform: uppercase;
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 5px;
}
p {
    color: $secondary;
}

.spotifyLinks {
    margin-top: 15px;
    color: $primary;
}

.topTen {
    font-size: 1.5rem;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.btn {
    border: none;
    border: 1px solid $primary;
    &__primary {
        padding: 10px 20px;
        background-color: $primary;
        color: $secondary;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2px;
        &--rounded {
            border-radius: 500px;
        }
    }
}

.home-logo {
    max-width: 100px;
    display: block;
    margin: 0 auto;
}

.login {
    margin: 0 auto;
    display: block;
}

.description {
    text-align: center;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .cardTrack {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }
}

.showErrorMsg {
    display: none;
    margin: 0 auto;
    max-width: 500px;

    .errorMsgTitle {
        margin: 0;
        padding: 15px 0;
        border: 1px rgb(165, 44, 44) solid;
        font-weight: bold;
        font-size: 1.2rem;
        text-align: center;
        background: rgb(165, 44, 44);
    }

    .errorMsgContent {
        text-align: center;
        padding: 30px 0;
        margin: 0;
        border: #fff solid 1px;
        border-top: 0px none;
    }
}
